.overlay#overlay
    .modal#modal
        a.modal__closure__button#hide-Modal
            span X
        h1.modal__title#modal__title
        img.modal__img#modal__img(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png", alt="alt")
        a.modal__stats__button
            h1 stats
    
