.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: get-opacity($color_Secundary, 0.3);
    display: none;
    justify-items: center;
    align-items: center;
}

.active {
    display: block;
}