.options {
    @include display-grid;
    @include grid-template-rows(100px auto auto);
    justify-items: center;
    align-items: flex-start;
    height: 100vh;
    background-color: $color_Primary;
    color: white;
    gap: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    .logo {
        padding: 10px;
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            min-width: 30px;
            object-fit: contain;
        }
    }
    .generate {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: auto;
        padding: 10px;
        height: 50px;
        border-radius: 5px;
        color: white;
        margin: 0 auto;
        text-align: center;
        @include media(mobile-only) {
            @include font-size(15px)
        }
    }
    .regions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        height: 100%;
        margin: auto 0;
        text-transform: uppercase;
        font-size: 10px;
        cursor: pointer;
        &__button {
            background-color: $color_Secundary;
            @include default-button;
            &:hover {
                background-color: get-opacity($color-Alternative, .8);
            }
        }
    }
    @include media(mobile-only) {
        padding: 0;
    }
}