/*
* Proyects Colors
*/

$color_Primary:red;
$color_Secundary:black;
$color_Light:white;
$color_Alternative:yellow;

/*
* Fonts
*/

$font_titles: 'Osawald',
sans-serif;
$font_text: 'Roboto',
sans-serif;
$font_size: 16px;