extends components/layout.pug
block content
            .options
                .logo
                    img(src="assets/images/pokePub_Logo.png", alt="alt")
                a(class="generate") Generate Team
            .container
                .container-row(id="container-row")
                    //- +pokemon(url+'ditto.png','ditto','1')
                    //- +pokemon(url+'ditto.png','ditto','1')
                    //- +pokemon(url+'ditto.png','ditto','1')
                    //- +pokemon(url+'ditto.png','ditto','1')
                    //- +pokemon(url+'ditto.png','ditto','1')
                    //- +pokemon(url+'ditto.png','ditto','1')
                    //- +pokemon(url+'ditto.png','ditto','1')